/* GenreButtons.css */

.genre-container {
    display: flex;
    gap: 10px;
}

.genre-button {
    background-color: #f3e2cd;
    color: #333;
    border: 1px solid #b8a694;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.genre-button:hover {
    background-color: #d4a373;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}